body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 2px 0 0 5px; /* 상단과 좌측에 패딩 */
    background-color: #000000; /* 배경색: 검정 */
    color: white;
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start;
    height: 100vh;
}

.main {
    display: flex;
    align-items: flex-start; /* 왼쪽 정렬 */
    background-color: #000000;
    padding: 0px;
    width: 700px;
}

.weather-info {
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
    margin-right: 20px;
}

.weather-icon {
    width: 50px;
    height: 55px;
    padding-top: 8px;
    margin-right: 5px;
}

table {
    width: 285px;
    border-collapse: collapse;
    background-color: black;
    font-size: 20px;
}

th {
    background-color: #004d40;
    font-size: 24px; /* 헤더 셀의 폰트 크기 설정 */
}

td {
    font-size: 30px; /* 데이터 셀의 폰트 크기 설정 */
    text-align: center;
    color: white;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
